<h1>Editing friend</h1>
<br/>

<%= render "form", friend: @friend %>

<br/>

<div>
  <%= link_to "Show", @friend, class: "btn btn-secondary" %>
  <%= button_to "Destroy", @friend, method: :delete, class: "btn btn-outline-danger" %>
  <%= link_to "Back", friends_path, class: "btn btn-dark" %>
</div>
<br/>
